<div class="gray_background" id="faqs">
  <div class="wrapper clearfix">
    <h4>FAQ &amp; Additional Information</h4>
    <ul>
      <li>
        <details>
          <summary>What kind of t-shirts are you printing on?</summary>
             <p>We are printing on high-quality t-shirts of comparable quality to American Apparel. We hope that you will show your support for Queens by wearing the t-shirts all the time!</p>
        </details>
      </li>
      <li>
        <details>
          <summary>When will I receive my t-shirt?</summary>
          <p>We have a team of volunteers working to get your t-shirts to you as soon as possible. We are planning on shipping them in 2-3 weeks.</p>
        </details>
      </li>
      <li>
        <details>
          <summary>Who is responsible for Rebuilding Queens?</summary>
          <p>Rebuilding Queens is an initiative by the <a href="http://www.queensbp.org/">Queens Borough President's Office</a> in partnership with <a href="http://www.queenstech.org/">Coalition for Queens</a>, a nonprofit organization that is fostering tech in the borough.</p>
        </details>
      </li>
    </ul>
    <ul class='col2'>
      <li>
        <details>
          <summary>Where will the proceeds go?</summary>
           <p>All proceeds from the Rebuilding Queens campaign will be donated directly towards relief efforts in the borough. We are identifying organizations and groups that are in immediate need and will make the most impact. If you know any organizations that would like to partner with us or are in need of funds, please contact us at <a href="mailto:team@coalitionforqueens.org">team@coalitionforqueens.org</a>.
          </p>
        </details>
      </li>
      <li>
        <details>
          <summary>How can I help?</summary>
          <p>There are many ways to get involved. Please support our mission by purchasing a t-shirt or donate to the initiative. If you are looking to volunteer, visit <a href="http://www.nycservice.org/">NYC Service</a> for volunteer opportunities. For any further questions, contact us at <a href="mailto:team@coalitionforqueens.org"> team@coalitionforqueens.org</a>.</p>
        </details>
      </li>
    </ul>
  </div>
</div>
