<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        Why "Rebuilding Queens"?
      </h3>
      <p>
         Queens has been hard-hit by hurricane Sandy. Many homes and businesses are devastated and communities such as Breezy Point, Howard Beach, and the Rockaways are starting the long recovery process.
      </p>
    </div>
    <!-- <img src="<%= image_path("img1.jpg") %>" width="419" height="292"> -->
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
        Who is organizing this effort?
      </h3>
      <p>
         Rebuilding Queens is an initiative organized by the <a href="http://www.queensbp.org/">Queens Borough President’s Office</a> in partnership with <a href="http://www.queenstech.org">Coalition for Queens</a> to help those most affected by Hurricane Sandy.
      <p>
    </div>
    <!-- <img src="<%= image_path("img2.jpg") %>" width="419" height="292"> -->
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        Where will the funds go?
      </h3>
      <p>
       All proceeds from the Rebuilding Queens campaign will be donated directly towards relief efforts in Queens. If you know any organizations that would like to partner with us or are in need of funds, please contact us at <a href="mailto:team@coalitionforqueens.org"> team@coalitionforqueens.org</a>.
      <p>
    </div>
  </div>
</div>

