<div class="wrapper clearfix">
  <!-- <div id="video">
    <iframe width='512' height='385' src="<%= video_url %>"></iframe>
  </div> -->
  <div id="video">
    <img src="<%= image_path('tshirtmockup.jpg') %>" width="512" height="575">
  </div>
  <div id="backing">
    <p class="first">Support the communities in Queens affected by Hurricane Sandy by purchasing a T-shirt or donating to Rebuilding Queens</p>
    <p class="note">Please allow 2-3 weeks for delivery</p>

    <div class="wepay-wrapper">
    <a class="wepay-widget-button wepay-green" id="wepay_widget_anchor_50cf79083eafd" href="https://www.wepay.com/stores/353767/item/946323">Add to cart</a><script type="text/javascript">var WePay = WePay || {};WePay.load_widgets = WePay.load_widgets || function() { };WePay.widgets = WePay.widgets || [];WePay.widgets.push( {object_id: 946323,widget_type: "store_item_add_to_cart",anchor_id: "wepay_widget_anchor_50cf79083eafd",widget_options: {store_id: 353767,show_item_price: true,show_item_images: true,button_text_sold_out: "Sold Out",show_item_custom_options: true,button_text: "Add to cart"}});if (!WePay.script) {WePay.script = document.createElement('script');WePay.script.type = 'text/javascript';WePay.script.async = true;WePay.script.src = 'https://static.wepay.com/min/js/widgets.v2.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(WePay.script, s);} else if (WePay.load_widgets) {WePay.load_widgets();}</script>
    </div>

    <p class="note">Or if you would like to skip the t-shirt</p>
    <div class="wepay-wrapper-two">
      <a class="wepay-widget-button wepay-green" id="wepay_widget_anchor_50cfad27697aa" href="https://www.wepay.com/donations/1093282337">Donate</a><script type="text/javascript">var WePay = WePay || {};WePay.load_widgets = WePay.load_widgets || function() { };WePay.widgets = WePay.widgets || [];WePay.widgets.push( {object_id: 1093282337,widget_type: "donation_campaign",anchor_id: "wepay_widget_anchor_50cfad27697aa",widget_options: {donor_chooses: true,allow_cover_fee: true,enable_recurring: true,allow_anonymous: true,button_text: "Donate"}});if (!WePay.script) {WePay.script = document.createElement('script');WePay.script.type = 'text/javascript';WePay.script.async = true;WePay.script.src = 'https://static.wepay.com/min/js/widgets.v2.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(WePay.script, s);} else if (WePay.load_widgets) {WePay.load_widgets();}</script>
    </div>
  </div>
</div>
